* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background: #323232;
	font-size: 1.4rem;
	text-align: center;
}

#prototype-menu {
	background: #ddd;
	border-bottom: 2px solid #2f2f2f;
	float: left;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

	#prototype-menu h3,
	#prototype-menu select {
		float: left;
	}
	
	#prototype-menu h3 {
		color: #444;
		font-family: Tahoma;
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 0;
		margin-right: 10px;
		margin-top: 1px;
		text-transform: uppercase;
	}
	
	#prototype-menu select {
		margin-right: 50px;
	}

#beacon {
	position: relative;
}

	#beacon.init {
		visibility: hidden;
	}

	@-webkit-keyframes fadein {
	    0% { opacity: 0; visibility: visible; }
	    100% { opacity: 1; }
	}

	.fadein {
	    -webkit-animation: fadein 3s linear;
	}

	img.beacon-background {
		left: 0;
		position: relative;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	img.lightbulb {
		left: 0;
		position: absolute;
		top: 0;
		z-index: 9999;
	}
	
	.lightbulb {
		-webkit-filter: opacity(0.6);
		filter: opacity(0.6);
		opacity: 0.6;
	}
	
	.stage-0 .lightbulb.duplicate,
	.stage-1 .lightbulb.duplicate,
	.stage-2 .lightbulb.ring-2.duplicate,
	.stage-2 .lightbulb.ring-3.duplicate,
	.stage-2 .lightbulb.ring-4.duplicate,
	.stage-3 .lightbulb.ring-3.duplicate,
	.stage-3 .lightbulb.ring-4.duplicate,
	.stage-4 .lightbulb.ring-4.duplicate {
		display: none;
	}
	
	.stage-1 .lightbulb.ring-1,
	.stage-2 .lightbulb.ring-1,
	.stage-2 .lightbulb.ring-2,
	.stage-3 .lightbulb.ring-1,
	.stage-3 .lightbulb.ring-2,
	.stage-3 .lightbulb.ring-3,
	.stage-4 .lightbulb.ring-1,
	.stage-4 .lightbulb.ring-2,
	.stage-4 .lightbulb.ring-3,
	.stage-4 .lightbulb.ring-4,
	.stage-5 .lightbulb.ring-1,
	.stage-5 .lightbulb.ring-2,
	.stage-5 .lightbulb.ring-3,
	.stage-5 .lightbulb.ring-4 {
		-webkit-filter: drop-shadow(0px 0px 10px rgba(239, 228, 182, 1.0)) opacity(1.0);
		filter: drop-shadow(0px 0px 10px rgba(239, 228, 182, 1.0)) opacity(1.0);
		opacity: 1.0;
	}
	
	.stage-1 .lightbulb.ring-1.flicker,
	.stage-2 .lightbulb.ring-1.flicker,
	.stage-2 .lightbulb.ring-2.flicker,
	.stage-3 .lightbulb.ring-1.flicker,
	.stage-3 .lightbulb.ring-2.flicker,
	.stage-3 .lightbulb.ring-3.flicker,
	.stage-4 .lightbulb.ring-1.flicker,
	.stage-4 .lightbulb.ring-2.flicker,
	.stage-4 .lightbulb.ring-3.flicker,
	.stage-4 .lightbulb.ring-4.flicker,
	.stage-5 .lightbulb.ring-1.flicker,
	.stage-5 .lightbulb.ring-2.flicker,
	.stage-5 .lightbulb.ring-3.flicker,
	.stage-5 .lightbulb.ring-4.flicker {
		-webkit-filter: drop-shadow(0px 0px 0px rgba(239, 228, 182, 0.6));
		filter: drop-shadow(0px 0px 0px rgba(239, 228, 182, 0.6));
		opacity: 0.6;
	}

#users {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	left: 20.1372549%;
	position: absolute;
	top: 49.8%;
	width: 27.372549%;
}

	#users ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: left;
		width: 100%;
	}
	
	#users ul li {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: all 1s ease;
		background: green;
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
	}
	
	#users ul li img {
		top: 6px;
		position: absolute;
		width: 12%;
	}
	
	#users ul li p {
		position: absolute;
		color: #fff;
		font-family: Tahoma;
		font-size: 1.2rem;
		padding-left: 2%;
		text-transform: uppercase;
		top: -6px;
	}

#canvas {
	height: 700px;
	left: 0;
	position: absolute;
	top: 0;
	width: 700px;
}